body{
  background-color: darkgrey;
}
.btn-delete{
  height: px;
}
.izquierda{
  margin-top: 20px;
}
header{
  background-color:rgb(153, 152, 152);
  color: aliceblue;
  display: flex;
}
p{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  color:black;
  margin-left:600px; 

}
.izquierda{
  display: flex;
}
footer {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  color: whitesmoke;
  width: 100%;
  bottom: 0;
  position:fixed;
}
.nuevo{
  background-color: darkgrey;
}

.App-content {
  position: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 1350px;
  background-color:rgb(153, 152, 152);
  border-radius: 10px;
  width: 1330px;
}
.libra{
  height: 80px;
  width: 200px;
  padding: 10px;
  margin-left: -450px;
}
img{
  height: 80px;
  width: 200px;
  display: flex;
  padding: 10px;
  margin-left: 800px;
}
form input {
  align-items: left;
  border-radius: 5%;
  display: flex;width: 200px;
  height: 20px;
  padding: 5px;
  margin-left:600px; 
}
label{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  color:black;
  margin-left:600px; 
  font-size: 16px;
}

form button {
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  margin-left: 70px;
  margin-bottom: 10px;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: darkgreen;
  height: 40px;
  width: 100px;
  margin-left:700px; 
}
button{
  border-radius: 120px;
  display: flex;
  margin-top: 10px;
  margin-left: 550px;
  padding: 2px;
}




  
 




  

 
 
  


 

  
  